ul.breadcrumb {
  padding-left: 30px;
  margin: 0px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
  color: #2f2f2f;
  cursor: pointer;
}

ul.breadcrumb li + li:before {
  padding: 0px;
  color: rgb(49, 112, 166);
  content: "/\00a0";
}

#navigationBreadcrumbs {
  grid-row: 2/3;
  grid-column: 1/-1;
}

/* hide / show - css */
#breadcrumbSankey,
#breadcrumbList {
  display: inline;
}

.hideBreadcrumb {
  display: none !important;
}

.boldText {
  font-size: 14px !important;
  font-weight: 900 !important;
}
