#phaseTable {
  border-collapse: collapse;
  display: block;
  height: 100%;
  width: 100%;
}

#phaseTableHeader {
  background-color: #3b719f;
  color: white;
  font-size: 14pt;
}

#phaseTableBody {
  color: black;
}

#phaseTable th {
  color: white;
  padding: 12px;
}

#phaseTable td {
  border: 1px solid rgb(136, 136, 136);
  padding: 8px;
}

#phaseTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#phaseTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  color: white;
}
