#helloText {
  font-size: 30pt;
  color: rgb(255, 0, 204);
  font-family: Comic Sans MS, cursive, sans-serif;
}

#categoryBtn {
  padding: 8px;
  border-radius: 4px;
  font-size: 10pt;
  border: 1px solid green;
  cursor: pointer;
  color: black;
}

#phaseBtn {
  color: black;
  font-size: 12pt;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
  cursor: pointer;
}
