#helloText {
  font-size: 30pt;
  color: rgb(255, 0, 204);
  font-family: Comic Sans MS, cursive, sans-serif;
}

#categoryBtn {
  padding: 8px;
  border-radius: 4px;
  font-size: 10pt;
  border: 1px solid green;
  cursor: pointer;
  color: black;
}

#phaseDiv {
  width: 30%;
  padding: 12px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 4px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
